In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import os

# 1. Prepare 1st table 'ref'

In [2]:
ref = pd.read_csv('/Users/chloe/Desktop/DataScientest/project/best-artworks-of-all-time/artists.csv')
ref.head()

,id,name,years,genre,nationality,bio,wikipedia,paintings
0,0,Amedeo Modigliani,1884 - 1920,Expressionism,Italian,Amedeo Clemente Modigliani (Italian pronunciat...,http://en.wikipedia.org/wiki/Amedeo_Modigliani,193
1,1,Vasiliy Kandinskiy,1866 - 1944,"Expressionism,Abstractionism",Russian,Wassily Wassilyevich Kandinsky (Russian: Васи́...,http://en.wikipedia.org/wiki/Wassily_Kandinsky,88
2,2,Diego Rivera,1886 - 1957,"Social Realism,Muralism",Mexican,Diego María de la Concepción Juan Nepomuceno E...,http://en.wikipedia.org/wiki/Diego_Rivera,70
3,3,Claude Monet,1840 - 1926,Impressionism,French,Oscar-Claude Monet (; French: [klod mɔnɛ]; 14 ...,http://en.wikipedia.org/wiki/Claude_Monet,73
4,4,Rene Magritte,1898 - 1967,"Surrealism,Impressionism",Belgian,René François Ghislain Magritte (French: [ʁəne...,http://en.wikipedia.org/wiki/René_Magritte,194

In [10]:
ref_shrunk=ref.drop(labels=['id','years','nationality','bio','wikipedia','paintings'],axis=1)
ref_shrunk.head(2)

                 name                         genre
0   Amedeo Modigliani                 Expressionism
1  Vasiliy Kandinskiy  Expressionism,Abstractionism

In [11]:
ref_shrunk[['genre_1','genre_2','genre_3']] = ref_shrunk['genre'].str.split(",",expand=True)
ref_shrunk.head(2)

,name,genre,genre_1,genre_2,genre_3
0,Amedeo Modigliani,Expressionism,Expressionism,None,None
1,Vasiliy Kandinskiy,"Expressionism,Abstractionism",Expressionism,Abstractionism,None

In [12]:
ref_final=ref_shrunk.drop('genre',1)
ref_final.head(2)

                 name        genre_1         genre_2 genre_3
0   Amedeo Modigliani  Expressionism            None    None
1  Vasiliy Kandinskiy  Expressionism  Abstractionism    None

# 2. Prepare 2nd table 'df'

In [14]:
path = '/Users/chloe/Desktop/DataScientest/project/best-artworks-of-all-time/resized/'
data = []
for file in sorted(os.listdir(path)):
    data.append(file)

In [15]:
df = pd.DataFrame(columns=['File_complete_name'])
df['File_complete_name']=data
df.head(2)

       File_complete_name
0   Albrecht_Dürer_1.jpg
1  Albrecht_Dürer_10.jpg

In [16]:
# new data frame with split value columns 
new=df['File_complete_name'].str.rsplit("_", n = 1,expand= True) 
new_b=new[1].str.rsplit(".", n = 1,expand= True) 

df['artist_name'] = new[0]
df['picture_nb'] = new_b[0]

df['artist_name'] = df['artist_name'].str.replace(r'_', ' ')
df.head(2)

       File_complete_name      artist_name picture_nb
0   Albrecht_Dürer_1.jpg  Albrecht Dürer          1
1  Albrecht_Dürer_10.jpg  Albrecht Dürer         10

# 3. Merge the two tables ref_final and df

In [17]:
df_final=df.merge(ref_final,left_on=df.artist_name, right_on=ref_final.name)
df_final.drop(['key_0','name'],1,inplace=True)
df_final.head(2)

,File_complete_name,artist_name,picture_nb,genre_1,genre_2,genre_3
0,Alfred_Sisley_1.jpg,Alfred Sisley,1,Impressionism,None,None
1,Alfred_Sisley_10.jpg,Alfred Sisley,10,Impressionism,None,None

In [18]:
df_final.shape

(8027, 6)